html, body {
  margin: 0;
  height: 100%;
  font-family: system-ui, Arial;
}

.wrap {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
  gap: 12px;
  padding: 24px;
  box-sizing: border-box;
}

button {
  padding: 12px 16px;
  cursor: pointer;
}